@charset "UTF-8";
body, p, figure, h2, h3, h4, div {
  margin: 0px;
}

* {
  box-sizing: border-box;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: black;
}

img, video {
  vertical-align: middle;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@font-face {
  font-family: "Acumin Pro-Ultra Black";
  src: url("../fonts/FontsFree-Net-Acumin-Pro-UltraBlack.ttf") format("truetype");
}
@font-face {
  font-family: "Proxima Nova Extrabold";
  src: url("../fonts/FontsFree-Net-Proxima-Nova-Xbold.otf") format("truetype");
}
@font-face {
  font-family: "Pretendard Black";
  src: url("../fonts/Pretendard-Black.otf") format("truetype");
}
@font-face {
  font-family: "Pretendard Medium";
  src: url("../fonts/Pretendard-Medium.otf") format("truetype");
}
@font-face {
  font-family: "Pretendard SemiBold";
  src: url("../fonts/Pretendard-SemiBold.otf") format("truetype");
}
@font-face {
  font-family: "Pretendard ExtraBold";
  src: url("../fonts/Pretendard-ExtraBold.otf") format("truetype");
}
* button {
  display: block;
  color: white;
  background-color: black;
  font-family: "Proxima Nova Extrabold";
  font-size: 15.5px;
  padding: 16px 24px;
  border-radius: 36px;
}

.bi .head {
  position: fixed;
  left: 0%;
  top: 0%;
  z-index: 1;
  width: 100%;
  height: 40px;
  padding: 0 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Proxima Nova Extrabold";
  font-weight: 800;
}
.bi .head:hover .bar {
  display: block;
}
.bi .head::after {
  display: block;
  content: "";
  clear: both;
}
.bi .head h2 {
  font-size: 20px;
  display: inline-block;
  color: white;
}
.bi .head li {
  position: relative;
  float: left;
}
.bi .head li a {
  display: block;
  padding: 0 15px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  color: white;
}
.bi .head li .bar {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}
.bi .head li .bar li a {
  display: block;
}

main .vi figure {
  width: 100%;
  position: relative;
}
main .vi figure video {
  -o-object-fit: cover;
     object-fit: cover;
}
main .vi figure figcaption {
  position: absolute;
  left: 20%;
  bottom: 8%;
  white-space: pre-line;
  font-family: "acumin-pro-condensed";
  font-style: italic;
  font-size: 128px;
  font-weight: 900;
  line-height: 102px;
  letter-spacing: -2px;
  color: rgb(255, 95, 0);
}
main .vi figure figcaption span {
  color: white;
  text-shadow: 3px 3px 0 rgb(255, 95, 0);
}
main .vi figure .scroll {
  position: absolute;
  right: 20%;
  bottom: 8%;
}
main .vi figure .scroll p {
  position: relative;
  width: 24px;
  height: 42px;
  margin: 0 auto;
  border: 2px solid white;
  border-radius: 20px;
}
main .vi figure .scroll p img {
  position: absolute;
  left: 5px;
  top: 5px;
  margin: 0 auto;
}
main .vi figure .scroll span {
  font-size: 10px;
  color: white;
}
main .vision {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 50px 0;
}
main .vision b {
  white-space: pre-line;
  font-size: 24px;
  font-family: "Pretendard ExtraBold";
}
main .vision b span {
  color: rgb(255, 95, 0);
}
main .vision p {
  width: 609px;
  height: 322px;
  animation: ani 2s linear infinite;
}
@keyframes ani {
  0% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-000.webp");
  }
  2.0833% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-001.webp");
  }
  4.1666% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-002.webp");
  }
  6.2499% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-003.webp");
  }
  8.3332% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-004.webp");
  }
  10.4165% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-005.webp");
  }
  12.4998% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-006.webp");
  }
  14.5831% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-007.webp");
  }
  16.6664% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-008.webp");
  }
  18.7497% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-009.webp");
  }
  20.833% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-010.webp");
  }
  22.9163% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-011.webp");
  }
  24.9996% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-012.webp");
  }
  27.0829% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-013.webp");
  }
  29.1662% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-014.webp");
  }
  31.2495% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-015.webp");
  }
  33.3328% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-016.webp");
  }
  35.4161% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-017.webp");
  }
  37.4994% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-018.webp");
  }
  39.5827% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-019.webp");
  }
  41.666% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-020.webp");
  }
  43.7493% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-021.webp");
  }
  45.8326% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-022.webp");
  }
  47.9159% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-023.webp");
  }
  49.9992% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-024.webp");
  }
  52.0825% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-025.webp");
  }
  54.1658% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-026.webp");
  }
  56.2491% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-027.webp");
  }
  58.3324% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-028.webp");
  }
  60.4157% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-029.webp");
  }
  62.499% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-030.webp");
  }
  64.5823% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-031.webp");
  }
  66.6656% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-032.webp");
  }
  68.7489% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-033.webp");
  }
  70.8322% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-034.webp");
  }
  72.9155% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-035.webp");
  }
  74.9988% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-036.webp");
  }
  77.0821% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-037.webp");
  }
  79.1654% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-038.webp");
  }
  81.2487% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-039.webp");
  }
  83.332% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-040.webp");
  }
  85.4153% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-041.webp");
  }
  87.4986% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-042.webp");
  }
  89.5819% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-043.webp");
  }
  91.6652% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-044.webp");
  }
  93.7485% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-045.webp");
  }
  95.8318% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-046.webp");
  }
  100% {
    background-size: 600px;
    background-image: url("../main_page/vision/home-hero-sq-047.webp");
  }
}
main .LATEST_NEWS {
  margin-top: 150px;
  width: 100%;
  overflow: hidden;
}
main .LATEST_NEWS h3 {
  font-family: "acumin-pro-condensed";
  font-size: 90px;
  font-style: italic;
  font-weight: 900;
  color: rgb(255, 95, 0);
  margin: 1% 18%;
}
main .LATEST_NEWS .slider {
  animation-name: infiniteScroll;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
main .LATEST_NEWS .slider:hover {
  animation-play-state: paused;
}
@keyframes infiniteScroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-4440px);
  }
}
main .LATEST_NEWS .slider div {
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  width: 8880px;
}
main .LATEST_NEWS .slider div .content {
  border: 1px solid rgb(220, 220, 220);
  border-radius: 10px;
  margin: 40px 0 0 0;
  width: 350px;
  height: 400px;
}
main .LATEST_NEWS .slider div .content:hover {
  transform: translateY(-20px);
  box-shadow: 0px 12px 10px 0px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
  overflow: hidden;
}
main .LATEST_NEWS .slider div .content figure img {
  width: 350px;
  height: 200px;
}
main .LATEST_NEWS .slider div .content figure .text {
  font-family: "Proxima Nova Extrabold";
}
main .LATEST_NEWS .slider div .content figure .text p {
  font-family: "Pretendard ExtraBold";
  position: absolute;
  left: 5%;
  top: 60%;
}
main .LATEST_NEWS .slider div .content figure .text ul li {
  position: absolute;
  left: 5%;
  bottom: 5%;
}
main .LATEST_NEWS .slider div .content figure .text ul li a {
  font-size: 12px;
  display: inline-block;
  margin: 3px 0;
  padding: 5.5px 12px 5.5px 12px;
  color: white;
  background-color: rgb(255, 130, 0);
  border-radius: 38px;
  font-family: "Proxima Nova Extrabold";
}
main .LATEST_NEWS button {
  margin: 1% 18%;
}
main .OUR_GAMES {
  margin-top: 150px;
}
main .OUR_GAMES h3 {
  font-family: "acumin-pro-condensed";
  font-size: 90px;
  font-style: italic;
  font-weight: 900;
  color: rgb(255, 95, 0);
  margin: 1% 18%;
}
main .OUR_GAMES .list {
  margin: 1% 18%;
}
main .OUR_GAMES .list div {
  margin-bottom: 30px;
  position: relative;
}
main .OUR_GAMES .list div video {
  border-radius: 10px;
}
main .OUR_GAMES .list div .text_box {
  color: white;
  position: absolute;
  left: 5%;
  top: 10%;
  text-align: center;
}
main .OUR_GAMES .list div .text_box p img {
  width: 270px;
}
main .OUR_GAMES .list div .text_box figcaption {
  font-family: "Pretendard Black", Dotum, 돋움, 굴림, arial;
  font-size: 24px;
  font-weight: 900;
  margin-top: 10px;
}
main .OUR_GAMES .list div .text_box figcaption p {
  white-space: pre-line;
  font-family: "Pretendard SemiBold";
  font-size: 14.5px;
  line-height: 1.5;
  margin: 10px 0;
}
main .OUR_GAMES .list div .text_box figcaption .icon img {
  margin: 10px;
}
main .OUR_GAMES .list div a {
  position: absolute;
  right: -16px;
  top: 25px;
  padding: 16px;
  background-color: rgb(255, 95, 0);
  transform-origin: 100% 100%;
  transform: skew(-10deg);
}
main .OUR_GAMES .list div a span {
  color: white;
  font-family: "Proxima Nova Extrabold";
}
main .STUDIOS {
  margin-top: 150px;
}
main .STUDIOS h3 {
  font-family: "acumin-pro-condensed";
  font-size: 90px;
  font-style: italic;
  font-weight: 900;
  color: rgb(255, 95, 0);
  margin: 1% 18%;
}
main .STUDIOS div {
  width: 100%;
  padding: 0 16%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .STUDIOS div .s-content {
  width: 350px;
  text-align: center;
  padding: 20px;
  margin: auto 15px;
  border-radius: 10px;
}
main .STUDIOS div .s-content:nth-of-type(1) {
  background-color: #ffe7c4;
}
main .STUDIOS div .s-content:nth-of-type(2) {
  background-color: #ff4347;
}
main .STUDIOS div .s-content:nth-of-type(3) {
  background-color: #202121;
}
main .STUDIOS div .s-content:nth-of-type(1) figcaption {
  color: rgb(90, 27, 0);
  border-top: 1px solid rgb(211, 80, 4);
}
main .STUDIOS div .s-content:nth-of-type(2) figcaption {
  color: white;
  border-top: 1px solid white;
}
main .STUDIOS div .s-content:nth-of-type(3) figcaption {
  color: white;
  border-top: 1px solid white;
}
main .STUDIOS div .s-content a {
  padding: 0 10px;
}
main .STUDIOS div .s-content a figure img {
  margin: 30px;
}
main .STUDIOS div .s-content a figure figcaption {
  white-space: pre-line;
}
main .STUDIOS div .s-content a figure figcaption b {
  font-family: "Pretendard Black", Dotum, 돋움, 굴림, arial;
  font-size: 24px;
}
main .STUDIOS div .s-content a figure figcaption p {
  font-family: "Pretendard SemiBold";
  font-size: 16px;
  margin-top: 30px;
  line-height: 24px;
}
main .OUR_STORIES {
  margin-top: 150px;
}
main .OUR_STORIES h3 {
  font-family: "acumin-pro-condensed";
  font-size: 90px;
  font-style: italic;
  font-weight: 900;
  color: rgb(255, 95, 0);
  margin: 1% 18%;
}
main .OUR_STORIES .os-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .OUR_STORIES .os-content div {
  position: relative;
  margin: 10px 16px;
}
main .OUR_STORIES .os-content div figure {
  width: 270px;
  height: 270px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
  overflow: hidden;
}
main .OUR_STORIES .os-content div figure img {
  width: 100%;
  height: 100%;
}
main .OUR_STORIES .os-content div figcaption {
  position: absolute;
  left: 5%;
  bottom: 5%;
  white-space: pre-line;
}
main .OUR_STORIES .os-content div figcaption p {
  font-family: "Pretendard ExtraBold";
  color: white;
  font-size: 16px;
}
main .OUR_STORIES .os-content div figcaption a {
  font-size: 12px;
  display: inline-block;
  margin: 3px 0;
  padding: 5.5px 12px 5.5px 12px;
  color: white;
  background-color: rgb(255, 130, 0);
  border-radius: 38px;
  font-family: "Proxima Nova Extrabold";
}
main .OUR_STORIES button {
  margin: 3% 18%;
}
main .icon_g {
  margin-top: 150px;
  margin: 1% 18%;
}
main .icon_g span {
  display: block;
  width: 100%;
  border: 1px solid rgb(229, 229, 229);
}
main .icon_g .icon {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8% 0;
}
main .icon_g .icon .i-content {
  text-align: center;
  width: 30%;
}
main .icon_g .icon .i-content figure {
  margin: 0 auto;
}
main .icon_g .icon .i-content figure figcaption h5 {
  margin: 0;
  font-family: "Proxima Nova Extrabold";
  font-size: 28px;
  line-height: 1.5;
}
main .icon_g .icon .i-content figure figcaption p {
  white-space: pre-line;
  font-family: "Pretendard SemiBold";
  line-height: 1.5;
}
main .card {
  margin: 10% 18%;
  position: relative;
}
main .card figure {
  width: 100%;
  background-color: rgb(248, 232, 218);
  padding: 80px;
  border-radius: 8px;
}
main .card figure img {
  position: absolute;
  right: 12%;
  bottom: 0;
}
main .card figure figcaption h4 {
  white-space: pre-line;
  font-family: "acumin-pro-condensed";
  color: #ff5f00;
  line-height: 58px;
  font-weight: 900;
  font-size: 72px;
  font-style: italic;
}
main .card figure figcaption p {
  font-family: "Pretendard Medium";
  font-size: 16px;
  margin: 30px 0;
}
footer {
  padding: 5% 18%;
  background-color: rgb(255, 95, 0);
  color: white;
}
footer .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .text .link div {
  margin-bottom: 10px;
}
footer .text .link div:nth-of-type(1) span:nth-of-type(1) {
  margin: 0 10px;
  font-size: 10px;
  border: 0.5px solid #fff;
}
footer .text .link div:nth-of-type(1) span:nth-of-type(2) {
  margin: 0 10px;
  font-size: 10px;
  border: 0.5px solid #fff;
}
footer .text .link div:nth-of-type(2) span:nth-of-type(1) {
  margin: 0 10px;
  font-size: 10px;
  border: 0.5px solid #fff;
}
footer .text .link div:nth-of-type(2) span:nth-of-type(2) {
  margin: 0 10px;
  font-size: 10px;
  border: 0.5px solid #fff;
}
footer .text .link div:nth-of-type(2) span:nth-of-type(3) {
  margin: 0 10px;
  font-size: 10px;
  border: 0.5px solid #fff;
}
footer .text .link div:nth-of-type(2) span:nth-of-type(4) {
  margin: 0 10px;
  font-size: 10px;
  border: 0.5px solid #fff;
}
footer .text .link div:nth-of-type(2) span:nth-of-type(5) {
  margin: 0 10px;
  font-size: 10px;
  border: 0.5px solid #fff;
}
footer .text .link div:nth-of-type(2) a:nth-of-type(2) {
  font-family: "Pretendard ExtraBold";
  font-size: 15px;
  line-height: 15px;
}
footer .text .link div a {
  color: white;
  font-family: "Pretendard Medium";
  font-size: 14px;
  line-height: 14px;
}
footer .text .link div svg {
  width: 6px;
  vertical-align: middle;
  margin: 0 6px;
}
footer .text form select {
  width: 180px;
  padding: 5px 0;
  appearance: none;
  color: white;
  border-width: 0;
  border-bottom: 2px solid white;
  font-size: 14px;
  font-family: "Proxima Nova Extrabold";
  background-color: transparent;
  background: url(../icons/arrow_drop.svg) no-repeat 95% 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
}
footer .text form select option {
  background: rgb(255, 95, 0);
  color: #fff;
  padding: 3px 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
footer .b-text strong {
  display: block;
  padding-top: 110px;
  font-size: 160px;
  font-family: "Proxima Nova Extrabold";
}
footer .b-text div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
footer .b-text div p {
  font-family: "Pretendard Medium";
  font-size: 14px;
  font-weight: 500;
}
footer .b-text div figure {
  -o-object-fit: contain;
     object-fit: contain;
}
footer .b-text div figure a {
  margin: 0 10px;
}/*# sourceMappingURL=index.css.map */