body, p, figure, h2, h3, h4, h5, div {
  margin: 0px;
}

* {
  box-sizing: border-box;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: black;
}

img, video {
  vertical-align: middle;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@font-face {
  font-family: "Acumin Pro-Ultra Black";
  src: url("../fonts/FontsFree-Net-Acumin-Pro-UltraBlack.ttf") format("truetype");
}
@font-face {
  font-family: "Proxima Nova Extrabold";
  src: url("../fonts/FontsFree-Net-Proxima-Nova-Xbold.otf") format("truetype");
}
@font-face {
  font-family: "Pretendard Black";
  src: url("../fonts/Pretendard-Black.otf") format("truetype");
}
@font-face {
  font-family: "Pretendard Medium";
  src: url("../fonts/Pretendard-Medium.otf") format("truetype");
}
@font-face {
  font-family: "Pretendard SemiBold";
  src: url("../fonts/Pretendard-SemiBold.otf") format("truetype");
}
@font-face {
  font-family: "Pretendard ExtraBold";
  src: url("../fonts/Pretendard-ExtraBold.otf") format("truetype");
}
* button {
  display: block;
  color: white;
  background-color: black;
  font-family: "Proxima Nova Extrabold";
  font-size: 15.5px;
  padding: 16px 24px;
  border-radius: 36px;
}

.bi .head {
  position: fixed;
  left: 0%;
  top: 0%;
  z-index: 1;
  width: 100%;
  height: 40px;
  padding: 0 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Proxima Nova Extrabold";
  font-weight: 800;
}
.bi .head:hover .bar {
  display: block;
}
.bi .head::after {
  display: block;
  content: "";
  clear: both;
}
.bi .head h2 {
  font-size: 20px;
  display: inline-block;
  color: white;
}
.bi .head li {
  position: relative;
  float: left;
}
.bi .head li a {
  display: block;
  padding: 0 15px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  color: white;
}
.bi .head li .bar {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}
.bi .head li .bar li a {
  display: block;
}

main .vi figure {
  width: 100%;
  position: relative;
}
main .vi figure video {
  -o-object-fit: cover;
     object-fit: cover;
}
main .vi figure figcaption p {
  position: absolute;
  left: 40%;
  bottom: 15%;
}
main .vi figure figcaption a {
  position: absolute;
  left: 45%;
  bottom: 6%;
  text-align: center;
  font-family: "Proxima Nova Extrabold";
  font-weight: 800;
  font-size: 16px;
  color: white;
  padding: 14px 26px;
  border: 2px solid white;
  border-radius: 36px;
}
main .store {
  width: 100%;
}
main .store figure {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 6% 28%;
}
main .store figure p img {
  border-radius: 10px;
  overflow: hidden;
}
main .store figure figcaption h2 {
  font-family: "Pretendard Black";
  color: rgb(255, 95, 0);
  font-size: 64px;
}
main .store figure figcaption p {
  color: rgb(255, 95, 0);
  font-size: 24px;
  font-family: "Pretendard ExtraBold";
  margin: 12px 0;
}
main .store figure figcaption span {
  color: rgb(51, 51, 51);
  white-space: pre-line;
  font-size: 16px;
  font-family: "Pretendard SemiBold";
}
main .store figure figcaption .app_icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .store figure figcaption .app_icon a {
  display: flex;
  align-items: center;
  background-color: black;
  padding: 2px 18px;
  margin: 12px 8px 0 0;
  border-radius: 24px;
}
main .store figure figcaption .app_icon a p {
  width: 14px;
  margin: 0;
  -o-object-fit: contain;
     object-fit: contain;
}
main .store figure figcaption .app_icon a p img {
  width: 100%;
}
main .store figure figcaption .app_icon a span {
  font-family: Dotum;
  font-size: 12px;
  color: white;
  margin-left: 5px;
}
main .about figure {
  text-align: center;
}
main .about figure figcaption {
  white-space: pre-line;
  margin-bottom: 60px;
}
main .about figure figcaption h2 {
  font-family: "Pretendard ExtraBold";
  font-size: 32px;
}
main .about figure figcaption p {
  font-family: "Pretendard SemiBold";
  font-size: 16px;
}
main .story {
  margin-top: 150px;
  width: 100%;
}
main .story .story_c {
  position: relative;
  overflow: hidden;
}
main .story .story_c .story_p p img {
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}
main .story .story_c .story-t {
  position: absolute;
  left: 28%;
  top: 0;
  text-align: center;
  white-space: pre-line;
}
main .story .story_c .story-t h4 {
  font-family: "acumin-pro-condensed";
  font-size: 90px;
  font-weight: 900;
  color: rgb(255, 95, 0);
}
main .story .story_c .story-t p {
  line-height: 24px;
  font-family: "Pretendard SemiBold";
  font-size: 16px;
  color: rgb(51, 51, 51);
  height: inherit;
}
main .trailer figure {
  position: relative;
  width: 100%;
  height: 100vh;
}
main .trailer figure video {
  -o-object-fit: cover;
     object-fit: cover;
}
main .trailer figure div {
  width: inherit;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.35);
}
main .trailer figure figcaption {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  white-space: pre-line;
  text-align: center;
}
main .trailer figure figcaption strong {
  font-family: "Pretendard Black";
  font-size: 32px;
  color: white;
}
main .trailer figure figcaption a {
  margin-top: 2%;
  display: inline-block;
  font-family: "Proxima Nova Extrabold";
  font-size: 16px;
  color: white;
  border: 2px solid white;
  padding: 12px 24px;
  border-radius: 36px;
}
main .FEATURES {
  background-color: #2B0F0C;
  color: white;
  margin: 5% 20%;
}
main .FEATURES h3 {
  font-family: "acumin-pro-condensed";
  font-size: 90px;
  font-weight: 900;
  font-style: italic;
  line-height: 72px;
  margin-bottom: 6%;
}
main .FEATURES .content {
  margin-bottom: 10%;
}
main .FEATURES .content:nth-of-type(1) .text p {
  font-family: "Proxima Nova Extrabold";
  font-size: 36px;
  font-weight: 800;
}
main .FEATURES .content .text p {
  font-family: "Pretendard ExtraBold";
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 10px;
}
main .FEATURES .content .text span {
  font-family: "Pretendard SemiBold";
  white-space: pre-line;
  line-height: 24px;
}
main .FEATURES .content div {
  margin-top: 2%;
}
main .FEATURES .content div video {
  border-radius: 10px;
  border: 1px solid rgb(51, 51, 51);
}
main .WORLD_WIDE_FANDOM {
  background-color: #2B0F0C;
  color: white;
  margin: 10% 20%;
  border: 1px solid 0;
  height: -moz-fit-content;
  height: fit-content;
}
main .WORLD_WIDE_FANDOM div {
  margin-bottom: 10%;
}
main .WORLD_WIDE_FANDOM div h3 {
  font-family: "acumin-pro-condensed";
  font-size: 90px;
  font-weight: 900;
  font-style: italic;
  line-height: 72px;
  margin-bottom: 3%;
}
main .WORLD_WIDE_FANDOM div p {
  font-family: "Pretendard SemiBold";
  line-height: 16px;
}
main .WORLD_WIDE_FANDOM .count p {
  font-family: "Pretendard ExtraBold";
  font-size: 24px;
}
main .WORLD_WIDE_FANDOM .count h4 {
  font-family: "acumin-pro-condensed";
  font-size: 90px;
  font-weight: 900;
  color: rgb(255, 95, 0);
}
main .HISTORY {
  width: 100%;
  padding-left: 20%;
}
main .HISTORY h3 {
  font-family: "acumin-pro-condensed";
  font-size: 90px;
  font-weight: 900;
  font-style: italic;
  color: rgb(255, 95, 0);
}
main .HISTORY p {
  color: rgb(51, 51, 51);
  font-size: 16px;
  font-family: "Pretendard SemiBold";
}
main .HISTORY .con {
  display: flex;
  align-items: flex-end;
}
main .HISTORY .con .picture {
  width: 30%;
}
main .HISTORY .con .year {
  align-items: flex-start;
  margin-top: 5%;
  width: 80%;
}
main .HISTORY .con .year ul li {
  display: flex;
}
main .HISTORY .con .year ul li strong {
  font-family: "acumin-pro-condensed";
  font-size: 40px;
  color: rgb(255, 95, 0);
  width: 10%;
}
main .HISTORY .con .year ul .month {
  width: 100%;
  padding: 0 0 2% 3%;
  border-left: 2px solid rgb(255, 95, 0);
  position: relative;
}
main .HISTORY .con .year ul .month::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-55%, 150%);
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background-color: rgb(255, 95, 0);
}
main .HISTORY .con .year ul .month::before strong {
  font-family: "acumin-pro-condensed";
  font-size: 40px;
  color: rgb(255, 95, 0);
  text-transform: uppercase;
}
main .HISTORY .con .year ul .month::before p {
  font-family: "Pretendard Medium";
}
main .link {
  width: 60%;
  margin: 12% 20%;
  padding: 4%;
  border-top: 1px solid rgb(229, 229, 229);
  border-bottom: 1px solid rgb(229, 229, 229);
}
main .link h4 {
  font-family: "acumin-pro-condensed";
  font-size: 40px;
  font-weight: 800;
  color: rgb(255, 95, 0);
  text-align: center;
  margin-bottom: 5%;
}
main .link .icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .link .icon span {
  display: inline-block;
  height: 50px;
  border: 1px solid rgb(255, 95, 0);
}
main .link .icon .box img {
  width: 100px;
}
main .RELATED_VIDEOS {
  width: 65%;
  margin: 0 20%;
}
main .RELATED_VIDEOS h3 {
  font-family: "acumin-pro-condensed";
  font-size: 90px;
  font-weight: 900;
  font-style: italic;
  color: rgb(255, 95, 0);
  margin-bottom: 4%;
}
main .RELATED_VIDEOS div {
  display: flex;
  justify-content: space-between;
}
main .RELATED_VIDEOS div .thumb figure {
  width: 384px;
  height: 216px;
  position: relative;
}
main .RELATED_VIDEOS div .thumb figure img {
  border-radius: 10px;
}
main .RELATED_VIDEOS div .thumb figure div {
  border-radius: 10px;
  width: inherit;
  height: inherit;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.37);
}
main .RELATED_VIDEOS div .thumb figure div svg {
  position: absolute;
  left: 40%;
  top: 40%;
  width: 20%;
  height: 20%;
}
main .RELATED_VIDEOS div .thumb figure figcaption {
  display: flex;
  align-items: center;
  margin-top: 1%;
}
main .RELATED_VIDEOS div .thumb figure figcaption svg {
  width: 8%;
}
main .RELATED_VIDEOS div .thumb figure figcaption p {
  width: inherit;
  font-family: "Pretendard ExtraBold";
  font-size: 24px;
  margin-left: 0.5%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .RELATED_STORIES {
  margin-top: 150px;
  width: 100%;
  overflow: hidden;
}
main .RELATED_STORIES h3 {
  font-family: "acumin-pro-condensed";
  font-size: 90px;
  font-style: italic;
  font-weight: 900;
  color: rgb(255, 95, 0);
  margin: 1% 20%;
}
main .RELATED_STORIES .content-g {
  width: 65%;
  width: 65%;
  margin: 0 20%;
  display: flex;
  justify-content: space-between;
}
main .RELATED_STORIES .content-g .content {
  border: 1px solid rgb(220, 220, 220);
  border-radius: 10px;
  margin: 40px 0 0 0;
  width: 350px;
  height: 400px;
  overflow: hidden;
  position: relative;
}
main .RELATED_STORIES .content-g .content:hover {
  transform: translateY(-20px);
  box-shadow: 0px 12px 10px 0px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
  overflow: hidden;
}
main .RELATED_STORIES .content-g .content figure img {
  width: 350px;
  height: 200px;
}
main .RELATED_STORIES .content-g .content figure .text {
  font-family: "Proxima Nova Extrabold";
}
main .RELATED_STORIES .content-g .content figure .text p {
  font-family: "Pretendard ExtraBold";
  position: absolute;
  left: 5%;
  top: 60%;
}
main .RELATED_STORIES .content-g .content figure .text ul li {
  position: absolute;
  left: 5%;
  bottom: 5%;
}
main .RELATED_STORIES .content-g .content figure .text ul li a {
  text-transform: uppercase;
  font-size: 12px;
  display: inline-block;
  margin: 3px 0;
  padding: 5.5px 12px 5.5px 12px;
  color: white;
  background-color: rgb(255, 130, 0);
  border-radius: 38px;
  font-family: "Proxima Nova Extrabold";
}
main .RELATED_STORIES button {
  margin: 3% 20%;
}

footer {
  padding: 5% 18%;
  background-color: rgb(255, 95, 0);
  color: white;
}
footer .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .text .link div {
  margin-bottom: 10px;
}
footer .text .link div:nth-of-type(1) span:nth-of-type(1) {
  margin: 0 10px;
  font-size: 10px;
  border: 0.5px solid #fff;
}
footer .text .link div:nth-of-type(1) span:nth-of-type(2) {
  margin: 0 10px;
  font-size: 10px;
  border: 0.5px solid #fff;
}
footer .text .link div:nth-of-type(2) span:nth-of-type(1) {
  margin: 0 10px;
  font-size: 10px;
  border: 0.5px solid #fff;
}
footer .text .link div:nth-of-type(2) span:nth-of-type(2) {
  margin: 0 10px;
  font-size: 10px;
  border: 0.5px solid #fff;
}
footer .text .link div:nth-of-type(2) span:nth-of-type(3) {
  margin: 0 10px;
  font-size: 10px;
  border: 0.5px solid #fff;
}
footer .text .link div:nth-of-type(2) span:nth-of-type(4) {
  margin: 0 10px;
  font-size: 10px;
  border: 0.5px solid #fff;
}
footer .text .link div:nth-of-type(2) span:nth-of-type(5) {
  margin: 0 10px;
  font-size: 10px;
  border: 0.5px solid #fff;
}
footer .text .link div:nth-of-type(2) a:nth-of-type(2) {
  font-family: "Pretendard ExtraBold";
  font-size: 15px;
  line-height: 15px;
}
footer .text .link div a {
  color: white;
  font-family: "Pretendard Medium";
  font-size: 14px;
  line-height: 14px;
}
footer .text .link div svg {
  width: 6px;
  vertical-align: middle;
  margin: 0 6px;
}
footer .text form select {
  width: 180px;
  padding: 5px 0;
  appearance: none;
  color: white;
  border-width: 0;
  border-bottom: 2px solid white;
  font-size: 14px;
  font-family: "Proxima Nova Extrabold";
  background-color: transparent;
  background: url(../icons/arrow_drop.svg) no-repeat 95% 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
}
footer .text form select option {
  background: rgb(255, 95, 0);
  color: #fff;
  padding: 3px 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
footer .b-text strong {
  display: block;
  padding-top: 110px;
  font-size: 160px;
  font-family: "Proxima Nova Extrabold";
}
footer .b-text div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
footer .b-text div p {
  font-family: "Pretendard Medium";
  font-size: 14px;
  font-weight: 500;
}
footer .b-text div figure {
  -o-object-fit: contain;
     object-fit: contain;
}
footer .b-text div figure a {
  margin: 0 10px;
}/*# sourceMappingURL=ovenbreak.css.map */