@import "_reset";

.bi {
    .head {
        position: fixed;
        left: 0%;
        top: 0%;
        z-index: 1;
        width: 100%;
        height: 40px;
        padding: 0 20%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: "Proxima Nova Extrabold";
        font-weight: 800;

        &:hover .bar {
            display: block;
        }

        &::after {
            display: block;
            content: "";
            clear: both;
        }

        h2 {
            font-size: 20px;
            display: inline-block;
            color: white;
        }

        li {
            position: relative;
            float: left;

            a {
                display: block;
                padding: 0 15px;
                height: 20px;
                line-height: 20px;
                font-size: 14px;
                color: white;
            }

            .bar {
                display: none;
                position: absolute;
                left: 0;
                right: 0;
                text-align: center;

                li {
                    a {
                        display: block;
                    }
                }
            }
        }
    }
}

main {
    .vi {
        figure {
            width: 100%;
            position: relative;

            video {
                object-fit: cover;
            }

            figcaption {
                p {
                    position: absolute;
                    left: 40%;
                    bottom: 15%;
                }

                a {
                    position: absolute;
                    left: 45%;
                    bottom: 8%;
                    text-align: center;
                    font-family: "Proxima Nova Extrabold";
                    font-weight: 800;
                    font-size: 16px;
                    color: white;
                    padding: 14px 26px;
                    border: 2px solid white;
                    border-radius: 36px;
                }
            }
        }
    }

    .store {
        width: 100%;

        figure {
            width: 45%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 6% 28%;

            p {
                img {
                    border-radius: 10px;
                    overflow: hidden;
                }
            }

            figcaption {
                h2 {
                    font-family: "Pretendard Black";
                    color: rgb(255, 95, 0);
                    font-size: 64px;
                }

                p {
                    color: rgb(255, 95, 0);
                    font-size: 24px;
                    font-family: "Pretendard ExtraBold";
                    margin: 12px 0;
                }

                span {
                    color: rgb(51, 51, 51);
                    white-space: pre-line;
                    font-size: 16px;
                    font-family: "Pretendard SemiBold";
                }

                .app_icon {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    a {
                        display: flex;
                        align-items: center;
                        background-color: black;
                        padding: 2px 18px;
                        margin: 12px 8px 0 0;
                        border-radius: 24px;

                        p {
                            width: 14px;
                            margin: 0;
                            object-fit: contain;

                            img {
                                width: 100%;
                            }
                        }

                        span {
                            font-family: Dotum;
                            font-size: 12px;
                            color: white;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }

    .about {
        figure {
            text-align: center;

            p {
                img {}
            }

            figcaption {
                white-space: pre-line;
                margin-bottom: 60px;

                h2 {
                    font-family: "Pretendard ExtraBold";
                    font-size: 32px;
                }

                p {
                    font-family: "Pretendard SemiBold";
                    font-size: 16px;
                }
            }

            div {
                img {}
            }
        }
    }

    .story {
        margin-top: 150px;
        width: 100%;

        .story_c {
            position: relative;
            overflow: hidden;

            .story_p {
                p {
                    img {
                        width: 100vw;
                        object-fit: cover;
                    }
                }
            }

            .story-t {
                position: absolute;
                left: 28%;
                top: 0;
                text-align: center;
                white-space: pre-line;

                h4 {
                    font-family: "acumin-pro-condensed";
                    font-size: 90px;
                    font-weight: 900;
                    color: rgb(255, 95, 0);
                }

                p {
                    line-height: 24px;
                    font-family: "Pretendard SemiBold";
                    font-size: 16px;
                    color: rgb(51, 51, 51);
                    height: inherit;
                }
            }
        }
    }

    .trailer {
        figure {
            position: relative;
            width: 100%;
            height: 100vh;

            video {
                object-fit: cover;

                source {}
            }

            div {
                width: inherit;
                height: 100vh;
                position: absolute;
                left: 0;
                top: 0;
                background-color: rgba(0, 0, 0, 0.35);
            }

            figcaption {
                position: absolute;
                left: 0;
                top: 40%;
                width: 100%;
                white-space: pre-line;
                text-align: center;

                strong {
                    font-family: "Pretendard Black";
                    font-size: 32px;
                    color: white;
                }

                a {
                    margin-top: 2%;
                    display: inline-block;
                    font-family: "Proxima Nova Extrabold";
                    font-size: 16px;
                    color: white;
                    border: 2px solid white;
                    padding: 12px 24px;
                    border-radius: 36px;
                }
            }

        }
    }

    .FEATURES {
        background-color: #2B0F0C;
        ;
        color: white;
        margin: 5% 20%;

        h3 {
            font-family: "acumin-pro-condensed";
            font-size: 90px;
            font-weight: 900;
            font-style: italic;
            line-height: 72px;
            margin-bottom: 6%;
        }

        .content {
            margin-bottom: 10%;

            &:nth-of-type(1) .text p {
                font-family: 'Proxima Nova Extrabold';
                font-size: 36px;
                font-weight: 800;
            }

            .text {
                p {
                    font-family: 'Pretendard ExtraBold';
                    font-size: 32px;
                    font-weight: 400;
                    margin-bottom: 10px;
                }

                span {
                    font-family: 'Pretendard SemiBold';
                    white-space: pre-line;
                    line-height: 24px;
                }
            }

            div {
                margin-top: 2%;

                video {
                    border-radius: 10px;
                    border: 1px solid rgb(51, 51, 51);

                    source {}
                }
            }
        }
    }


    .WORLD_WIDE_FANDOM {
        background-color: #2B0F0C;
        color: white;
        margin: 10% 20%;
        border: 1px solid red($color: #000000);
        height: fit-content;

        div {
            margin-bottom: 10%;

            h3 {
                font-family: "acumin-pro-condensed";
                font-size: 90px;
                font-weight: 900;
                font-style: italic;
                line-height: 72px;
                margin-bottom: 3%;
            }

            p {
                font-family: 'Pretendard SemiBold';
                line-height: 16px;
            }
        }

        .count {
            p {
                font-family: 'Pretendard ExtraBold';
                font-size: 24px;
            }

            h4 {
                font-family: "acumin-pro-condensed";
                font-size: 90px;
                font-weight: 900;
                color: rgb(255, 95, 0);
            }

        }
    }

    .HISTORY {
        width: 100%;

        h3 {
            font-family: "acumin-pro-condensed";
            font-size: 90px;
            font-weight: 900;
            font-style: italic;
            color: rgb(255, 95, 0);
        }

        p {
            color: rgb(51, 51, 51);
            font-size: 16px;
            font-family: "Pretendard SemiBold";
        }

        .con {
            .picture{
                img{}
            }
            .year {
                margin-top: 10%;
                width: 80%;
                ul {
                    li {
                        display: flex;
                        // align-items: center;
                        strong {
                            font-family: "acumin-pro-condensed";
                            font-size: 40px;
                            color: rgb(255, 95, 0);
                            width: 8%;
                        }
                    }

                    .month {
                        width: 100%;
                        padding: 0 0 2% 2%;
                        border-left: 2px solid rgb(255, 95, 0);
                        position: relative;

                        &::before {
                            content: '';
                            display: inline-block;
                            position: absolute;
                            left: 0;
                            top: 0;
                            transform: translate(-55%, 150%);
                            width: 16px;
                            height: 16px;
                            border-radius: 10px;
                            background-color: rgb(255, 95, 0);

                            strong {
                                font-family: "acumin-pro-condensed";
                                font-size: 40px;
                                color: rgb(255, 95, 0);
                                text-transform: uppercase;
                            }

                            p {
                                font-family: 'Pretendard Medium';
                            }
                        }
                    }
                }
            }
        }
    }























}